APP_BASE_URL=http://localhost:3000
APP_PORT=3000
POSTGRES_DB=cliqero
POSTGRES_USER=cliqero
POSTGRES_PASSWORD=cliqero-local
POSTGRES_PORT=5432
PAYSTACK_CONFIG_PATH=config/modules/payment/paystack.yaml
PAYSTACK_SECRETS_PATH=config/secrets/payment/paystack.yaml
